body{
	margin: auto;
	max-width:1280px;
	font-size:2em; /*changes all fonts in percentage*/
}
.row{
	display:flex;
	flex-direction:row;
}
.column{
	display:flex;
	flex-direction: column;
	text-align: center;
}
.center{
	display:flex;
	justify-content:center;
	text-align: center;
}

.justify-even{
	justify-content:space-between;
}

a{
	color:#008000;
}
a:hover{
	color:red;
}
.anchor-left{
	align-items: start;
}
.anchor-right{
	align-items:end;	
}